@import "~@fluentui/react/dist/sass/References.scss";

.argalProfileCard {
  overflow: hidden;
  padding: 1em;
  color: black;
  // color: "[theme:bodyText, default: #323130]";
  // color: var(--bodyText);
  // &.teams {
  //   font-family: $ms-font-family-fallbacks;
  // }
}

.card {
  width: 450px;
  margin: 40px;
  border: 4px solid #222;
}

.card::after {
  content: "";
  display: block;
}

.data {
  padding: 32px;
  padding-top: 24px;
}
